/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* debug variables */
    --ly-debug-bg-header: rgb(172, 215, 230);
    --ly-debug-bg-nav-bar: #daa520;
    --ly-debug-bg-jumb-contaier: #00008b;
    --ly-debug-bg-jumbotron: #ee82ee;
    --ly-debug-bg-banner-image: #1e90ff;
    --ly-debug-bg-banner-text: #ffc0cb;
    --ly-debug-bg-download-banner: #228b22;
    --ly-debug-gb-social-links: #f08080;
    --ly-debug-gb-internal-links: #20b2aa;
    --ly-debug-gb-end-page: #7fffd4;
    --ly-debug-gb-end-page-buttons: rgb(255, 181, 192);
}

/* utils */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.container-small {
    max-width: 800px;
    margin: 0 auto;
}
.bg-white {
    background-color: white;
}
.bg-lightgrey {
    background-color: #d3d3d3;
}
/* #region debug */
.debug {
    * {
        border: 1px dashed black;
    }
    header {
        background-color: var(--ly-debug-bg-header);
    }
    #nav-bar {
        background-color: var(--ly-debug-bg-nav-bar);
    }
    #jumb-container {
        background: var(--ly-debug-bg-jumb-contaier);
    }
    #jumbotron {
        background-color: var(--ly-debug-bg-jumbotron);
    }
    .banner-image {
        background-color: var(--ly-debug-bg-banner-image);
    }
    .banner-text {
        background-color: var(--ly-debug-bg-banner-text);
    }
    #download-banner {
        background-color: var(--ly-debug-bg-download-banner);
    }
    #social-links {
        background-color: var(--ly-debug-gb-social-links);
    }
    .internal-links {
        border: 1px dashed white;
        background-color: var(--ly-debug-gb-internal-links);
    }
    #end-page-box {
        background-color: var(--ly-debug-gb-end-page);
    }
    #footer-logo {
        background-color: var(--ly-debug-gb-end-page-buttons);
        padding: 5px;
    }
    #footer-button {
        background-color: var(--ly-debug-gb-end-page-buttons);
        padding: 5px;
    }
}
/* #endregion debug */

/* #region common */
header {
    padding: 10px;
}
#nav-bar {
    justify-content: space-between;
    width: 100%;
    display: flex;
}
#nav-bar-logo {
    padding: 5px;
    width: 25%;
    text-align: left;
}
#nav-bar-link {
    text-align: center;
    padding: 5px;
    width: 50%;
}
#nav-bar-login {
    text-align: right;
    padding: 5px;
    width: 25%;
}
#jumbotron {
    display: flex;
    min-height: 200px;
}
#jumb-container {
    padding: 20px;
}
.banner-box {
    padding: 20px;
    display: flex;
    min-height: 270px;
}
.banner {
    display: flex;
    width: 100%;
}
.banner-image {
    width: 60%;
}
.banner-text {
    width: 40%;
}
#download-banner-box {
    padding: 20px;
    display: flex;
}
#download-banner {
    min-height: 500px;
    width: 100%;
}

#footer-link-box {
    min-height: 400px;
    padding: 10px 0px 20px 0px;
    display: flex;
    background-color: #23272a;
    margin-bottom: 1px;
}
#footer-links {
    display: flex;
    width: 100%;
}
#social-links {
    width: 34%;
}
#internal-links-box {
    display: flex;
    width: 100%;
}
.internal-links {
    width: 25%;
}
#end-page {
    background-color: #23272a;
    min-height: 50px;
    border: none;
    padding-top: 15px;
}
#end-page-box {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #endregion common */
